<a href="https://colab.research.google.com/github/meskeremg/FinalCapstone/blob/main/Step_4_3_NLP_Book_Recommendation_Modeling_with_SBERT_Sentence_Embeddings_Meskerem_Goshime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 4-3 NLP Book Recommendation System
# Model 3 - SBERT Sentence Embeddings and Cosine Similarity

Amazon Books Reviews Data data source: https://www.kaggle.com/datasets/mohamedbakhet/amazon-books-reviews?select=books_data.csv This is a rich dataset for Natural Language Processing containing 3,000,000 text reviews from users as well as text descriptions and categories for 212,403 books. Therefore it is ideal for text analysis.

# Importing libraries and reading the data

In [3]:
import pandas as pd
import numpy as np

In [4]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [5]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [6]:
fileDownloaded = drive.CreateFile({'id':'1dnURk-tdodpKuv-3Ic92ELyNoQLs9tLA'})
fileDownloaded.GetContentFile('books_after_preprocessing.csv')

In [7]:
books = pd.read_csv('books_after_preprocessing.csv')

In [8]:
books.head(3)

,index,Title,review/score_Avg,review/score_Count,authors,publishedDate,description_categories
0,74190,and poetry is born russian classical poetry,4.0,1.0,['Aleksandr Sergeevich Pushkin'],1984.0,russian poetry selection russian poem russian ...
1,80644,and still king,4.0,1.0,['Keith Checkley'],2012.0,business economics nothing provides clearer pi...
2,31352,dancers in mourning,4.5,8.0,['Margery Allingham'],2015.0,fiction murder take center stage songanddance ...

# Taking a subset of the data by selecting the books which received more than 10 reviews

I am taking a subset of the book data to preform Sentence Embeddings and Cosine Similarity. The full dataset would be too large to process.

In [9]:
books_sm_10 = books[books['review/score_Count'] > 10]
books_sm_10.head(3)

,index,Title,review/score_Avg,review/score_Count,authors,publishedDate,description_categories
30,95768,1 is one,4.866667,30.0,['Tasha Tudor'],2015.0,juvenile nonfiction rhyming verse present numb...
34,76202,1 ragged ridge road,4.277778,18.0,"['Leonard Foglia', 'David Richards']",1998.0,fiction estranged husband carol robbins young ...
36,110134,10 button book,3.142857,28.0,['William Accorsi'],1999.0,juvenile nonfiction verse introduce number one...

In [10]:
books_sm_10 = books_sm_10.reset_index(drop=True)
books_sm_10 = books_sm_10.drop(columns='index')
books_sm_10.head(3)

,Title,review/score_Avg,review/score_Count,authors,publishedDate,description_categories
0,1 is one,4.866667,30.0,['Tasha Tudor'],2015.0,juvenile nonfiction rhyming verse present numb...
1,1 ragged ridge road,4.277778,18.0,"['Leonard Foglia', 'David Richards']",1998.0,fiction estranged husband carol robbins young ...
2,10 button book,3.142857,28.0,['William Accorsi'],1999.0,juvenile nonfiction verse introduce number one...

In [11]:
books_sm_10.shape

(29560, 6)

# Cosine Similarity using Word Embeddings

In [12]:
# this took 13 seconds to run using GPU and Hi RAM.
!pip install sentence_transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sentence_transformers in /usr/local/lib/python3.8/dist-packages (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (1.7.3)
Requirement already satisfied: huggingface-hub>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (0.11.1)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (0.1.97)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (1.0.2)
Requirement already satisfied: torchvision in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (0.14.0+cu116)
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (3.7)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (4.25.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (4.64.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (1.21.6)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from sentence_transformers) (1.13.0+cu116)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (21.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (4.4.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (2.23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence_transformers) (3.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.9->huggingface-hub>=0.4.0->sentence_transformers) (3.0.9)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (2022.6.2)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from transformers<5.0.0,>=4.6.0->sentence_transformers) (0.13.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk->sentence_transformers) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk->sentence_transformers) (7.1.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence_transformers) (2.10)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->sentence_transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.8/dist-packages (from torchvision->sentence_transformers) (7.1.2)

In [13]:
# source: https://www.sbert.net/docs/usage/semantic_textual_similarity.html
# using pretrained SentenceTransformer model
# This took 23 seconds using GPU and Hi RAM in Google Colab Pro.

from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('all-MiniLM-L6-v2')

# Single list of sentences
sentences = books_sm_10['description_categories'].values

#Compute embeddings
embeddings = model.encode(sentences, convert_to_numpy=True)

#Compute cosine-similarities for each sentence with each other sentence
cosine_scores = util.cos_sim(embeddings, embeddings)

In [14]:
cosine_scores

tensor([[1.0000, 0.1183, 0.5271,  ..., 0.1800, 0.2950, 0.0608],
        [0.1183, 1.0000, 0.1760,  ..., 0.0393, 0.3236, 0.1506],
        [0.5271, 0.1760, 1.0000,  ..., 0.1901, 0.2620, 0.0790],
        ...,
        [0.1800, 0.0393, 0.1901,  ..., 1.0000, 0.3124, 0.0623],
        [0.2950, 0.3236, 0.2620,  ..., 0.3124, 1.0000, 0.4192],
        [0.0608, 0.1506, 0.0790,  ..., 0.0623, 0.4192, 1.0000]])

In [15]:
cosine_scores[0]

tensor([1.0000, 0.1183, 0.5271,  ..., 0.1800, 0.2950, 0.0608])

# Finding the 5 most similar books to the book in 0 index place

In [16]:
sim_0 = pd.DataFrame(cosine_scores[0], columns=['sim']).sort_values(by='sim', ascending=False)
sim_0.reset_index(inplace = True)
sim_0.head()

   index       sim
0      0  1.000000
1    756  0.772923
2  10572  0.743990
3  10571  0.739862
4  17176  0.721054

In [18]:
print('Chosen book: ', books_sm_10['Title'][0], '\n')
print('Similar books: ')
for i in range(1,6):
  indexes = int(sim_0.loc[i]['index'])
  print(indexes, books_sm_10['Title'][indexes])

Chosen book:  1 is one

Similar books:
756 a pinky is a baby mouse and other baby animal names pinky baby
10572 i spy little book
10571 i spy 4 picture riddle books school reader collection lvl 1 scholastic reader collection
17176 read to your bunny max  ruby
21379 the christian mother goose book of nursery rhymes

# Making a Function which finds similar books to a given title

In [19]:
def find_similar(title, df, df_col, sims):
    index_val = df[df_col == title].index
    sim = sims[index_val]
    sim = pd.DataFrame(sim).T
    sim.columns = ['sim']
    sim = sim.sort_values(by='sim', ascending = False)
    sim = sim.reset_index()

    print('Chosen book: ', title)
    print('Similar books: ')

    for i in range(1,6):
        indexes = int(sim.loc[i]['index'])
        print(i, '. ', df_col[indexes])

In [42]:
def find_similar(title):
    index_val = books_sm_10[books_sm_10['Title'] == title].index
    sim = cosine_scores[index_val]
    sim = pd.DataFrame(sim).T
    sim.columns = ['sim']
    sim = sim.sort_values(by='sim', ascending = False)
    sim = sim.reset_index()

    print('Chosen book: ')
    print('Title: ', title)
    print('Description: ', books_sm_10['description_categories'][index_val].values, '\n')
    print('Similar books: ')

    for i in range(1,6):
        indexes = int(sim.loc[i]['index'])
        print(i, '. ', 'Title: ', books_sm_10['Title'][indexes])
        print('    ', 'Description: ', books_sm_10['description_categories'][indexes])

# Example Recommendations with the same books I used to test Model 1 and Model 2

note: please see recommendations for **1 is one** above

In [46]:
title1 = '1 is one'
find_similar(title1)

Chosen book:
Title:  1 is one
Description:  ['juvenile nonfiction rhyming verse present number one twenty illustration animal flower child']

Similar books:
1 .  Title:  a pinky is a baby mouse and other baby animal names pinky baby
     Description:  juvenile nonfiction rhyming text explains different name various baby animal known
2 .  Title:  i spy little book
     Description:  juvenile nonfiction rhyming verse invite reader find hidden object photograph
3 .  Title:  i spy 4 picture riddle books school reader collection lvl 1 scholastic reader collection
     Description:  juvenile nonfiction rhyming verse ask reader find hidden object photograph
4 .  Title:  read to your bunny max  ruby
     Description:  juvenile fiction brief rhyming text illustration tell happens parent child share twenty minute day reading board page
5 .  Title:  the christian mother goose book of nursery rhymes
     Description:  juvenile fiction collection traditional nursery rhyme rewritten emphasize christian principle

In [38]:
title2 = 'spanish stepbystep'
find_similar(title2)

Chosen book:
Title:  spanish stepbystep
Description:  ['foreign language study proven grammarbased approach give real mastery spanish language use advanced spanish step step progressive grammarbased approach conquer intermediate advanced spanishlanguage topic stepbystep approach give real confidence tool need achieve high spanish proficiency youll get quick review key grammar basic move advanced topic need true mastery language complete coverage verb tense beyond present past irregular verb sentence structure part speech book give thorough overview advanced grammar topic also introduces hundred new vocabulary word reinforced reading put new term everyday context']

Similar books:
1 .  Title:  fundamental spanish
     Description:  education fundamental spanish clear concise grammar book teacher beginner intermediate selflearners book structured chapter becomes base next lesson understood becomes basis next sequence learning orderly logical clear ton written oral exercise facilitate guide learning selflearners test progress practice speaking understanding pronunciation chart provided pronunciation tip given throughout book reminder ultimate goal grammar book able read write spanish also speak understand spanish teacher fundamental spanish based idea task chain successful completion one sequence gramar dependent successful completion task book build grammatical base lesson lesson order clarity explanation give flexibility move quickly slowly wish teach grammar conversation also used review element particular class requires
2 .  Title:  the big red book of spanish vocabulary
     Description:  foreign language study new dramatically improved threepronged approach learning spanish vocabulary big red book spanish vocabulary much much spanish vocabulary reference unique complete resource combine three complementary approach vocabulary buildingcognates root family suffixesto instantly increase word familiarity aid memorization whether active facetoface communication passive comprehension written spoken word indepth knowledge vocabulary key foreign language mastery big red book spanish vocabulary make acquiring mastery simpler straightforward ever providing extensive thematic list spanish cognate alphabetic glossary spanish root familiesboth entry comprehensive listing common spanish suffix common example frequency index listing frequently used word spanish alphabetic index crossreferencing every entry root suffix frequency section
3 .  Title:  teach yourself korean
     Description:  foreign language study bestselling language course danish spanish swahili brazilian portuguese language world brought within reach beginning student learner use teach language course pace supplement formal course complete course based latest learning method designed enjoyable userfriendly prepared expert language course begin basic gradually promotes student level smooth confident communication including uptodate graded interactive dialogue graded unit culture note grammar exercise stepbystep guide pronunciation practical vocabulary regular irregular verb table plenty practice exercise answer bilingual glossary new edition also feature clear uncluttered userfriendly layout selfassessment quiz test progress website suggestion take language study
4 .  Title:  teach yourself brazilian portuguese teach yourself tape
     Description:  foreign language study bestselling language course danish spanish swahili brazilian portuguese language world brought within reach beginning student learner use teach language course pace supplement formal course complete course based latest learning method designed enjoyable userfriendly prepared expert language course begin basic gradually promotes student level smooth confident communication including uptodate graded interactive dialogue graded unit culture note grammar exercise stepbystep guide pronunciation practical vocabulary regular irregular verb table plenty practice exercise answer bilingual glossary new edition also feature clear uncluttered userfriendly layout selfassessment quiz test progress website suggestion take language study
5 .  Title:  basic english grammar second edition full student textbook
     Description:  foreign language study pack consists basic english grammar b student book workbook b blending communicative interactive approach triedandtrue grammar teaching basic english grammar third edition betty schrampfer azar stacy hagen offer concise accurate levelappropriate grammar information abundance exercise context classroom activity feature basic english grammar third edition increased speaking practice interactive pair group work new structurefocused listening exercise activity provide real communication opportunity added illustration help student learn vocabulary understand context engage communicative language task new workbook solely devoted selfstudy exercise new audio cd listening script back student book

In [39]:
title3 = 'to kill a mockingbird'
find_similar(title3)

Chosen book:
Title:  to kill a mockingbird
Description:  ['fiction voted america bestloved novel pbs great american read harper lee pulitzer prizewinning masterwork honor injustice deep southand heroism one man face blind violent hatred one cherished story time kill mockingbird translated forty language sold forty million copy worldwide served basis enormously popular motion picture voted one best novel twentieth century librarian across country gripping heartwrenching wholly remarkable tale comingofage south poisoned virulent prejudice view world great beauty savage inequity eye young girl fathera crusading local lawyerrisks everything defend black man unjustly accused terrible crime']

Similar books:
1 .  Title:  to kill a mocking bird
     Description:  drama harper lee classic novel lawyer deep south defending black man charged rape white girl one bestloved story time kill mockingbird earned many distinction since original publication pulitzer prize translated forty language sold thirty million copy worldwide made enormously popular movie recently librarian across country gave book highest honor voting best novel twentieth century
2 .  Title:  the confessions of nat turner
     Description:  fiction magnificent pulitzer prizewinning new york timesbestselling novel preacher led america bloodiest slave revolt new york time confession nat turner william styron complex richly drawn imagining nat turner leader slave rebellion virginia led death almost sixty men woman child published height civil right movement novel draw upon historical nat turner confession attorney made awaited execution virginia jail powerful narrative steeped brutal tragic history american slavery reveals turner neither hero demon rather man driven exact vengeance century injustice inflicted upon people nat turner galvanizing portrayal crushing institution slavery styron deeply layered characterization stunning rendering one man violent struggle oppression ebook feature new illustrated biography william styron including original letter rare photo neverbeforeseen document styron family duke university archive
3 .  Title:  gone with the wind
     Description:  fiction dear dont give damn margaret mitchell pageturning sweeping american epic classic eighty year beloved thought many greatest american novel gone wind story love hope loss set tense historical background american civil war lover novel centre selfish privileged scarlett ohara rakish rhett butler magnetic pulling reader tangled narrative struggle survive forgotten winner national book award pulitzer prize sheer readability think nothing must give way new yorker make people come catastrophe others apparently able strong brave go margaret mitchell
4 .  Title:  gone with the wind the margaret mitchell anniversary edition
     Description:  fiction dear dont give damn margaret mitchell pageturning sweeping american epic classic eighty year beloved thought many greatest american novel gone wind story love hope loss set tense historical background american civil war lover novel centre selfish privileged scarlett ohara rakish rhett butler magnetic pulling reader tangled narrative struggle survive forgotten winner national book award pulitzer prize sheer readability think nothing must give way new yorker make people come catastrophe others apparently able strong brave go margaret mitchell
5 .  Title:  the autobiography of miss jane pittman
     Description:  fiction novel guise taperecorded recollection black woman lived year slave witness black militancy woman ernest gaines created legendary figure woman equipped stand beside william faulkner dilsey sound fury miss jane pittman like dilsey endured seen almost everything foretold rest gaines novel brings mind great work odyssey way heroine travel manage summarize american history race huckleberry finn clarity voice rare capacity sort mess year thing find one true story geoffrey wolff newsweek stunning know black novel south excludes quite refreshing mix wit wrath imagination indignation misery poetry recall memorable female character southern fiction since lena faulkner light august miss jane pittman josh greenfeld life

# Duplicate Titles

At this point in the project, I noticed that there were duplicate values in the title column with differing capitalization and/or spelling. Therefore, I returned to the Text Preprocessing step and converted all of book titles to small letters and removed duplicates. However, I did not find a good solution for duplicate titles with spelling/wording differences at this time.

# Accuracy Mesasure: Discounted Cumulative Gains
Relevancy Scoring Key:

Most relevant score => 2

Somewhat relevant score => 1

Least relevant score => 0

Methodology: I manually went through the description of the chosen item and the recommended items to determine relevancy value.

DCG (Discounted Cumulative Gains) = Relevancy Score/(LOG(Recommendation Rank+1))

Formula Source: https://towardsdatascience.com/an-exhaustive-list-of-methods-to-evaluate-recommender-systems-a70c05e121de

The SBERT Model outperforms (DCG=54.39) both the Count Vectorizer Model (DCG = 47.63) and the Gensim/Spacy Model (DCG=41.36).

![image.png]()

# How about the book reviews data

Initially, my plan was to also to work on the review texts of the reviews data. However, with the reviews data containing more than 2 million rows, it requires an insane amount of memory. Therefore, I am going to base my recommendations on just the categories and description columns of the books data.