<a href="https://colab.research.google.com/github/meskeremg/FinalCapstone/blob/main/Step_4_2_NLP_Book_Recommendation_Gensim_and_Spacy_Meskerem_Goshime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 4-2: NLP Book Recommendation System
# Model 2 - Gensim and Spacy

Amazon Books Reviews Data data source: https://www.kaggle.com/datasets/mohamedbakhet/amazon-books-reviews?select=books_data.csv This is a rich dataset for Natural Language Processing containing 3,000,000 text reviews from users as well as text descriptions and categories for 212,403 books. Therefore it is ideal for text analysis.

# Importing libraries and reading the data

In [ ]:
!python3 -m spacy download en_core_web_lg

2022-12-18 22:14:05.510511: I tensorflow/core/util/util.cc:169] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting en-core-web-lg==3.4.1
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl (587.7 MB)
     |████████████████████████████████| 587.7 MB 16 kB/s
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from en-core-web-lg==3.4.1) (3.4.4)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.21.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (57.4.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.0.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (21.3)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.10.1)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.7.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.0.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.11.3)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.10.1)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (6.3.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.0.7)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.0.8)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (4.64.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.4.5)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.10.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.23.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.0.4)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (8.1.5)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.0.10)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.3.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.0.9)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (4.4.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2022.12.7)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (0.0.3)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.8/dist-packages (from typer<0.8.0,>=0.3.0->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->spacy<3.5.0,>=3.4.0->en-core-web-lg==3.4.1) (2.0.1)
Installing collected packages: en-core-web-lg
Successfully installed en-core-web-lg-3.4.1
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_lg')

In [ ]:
import pandas as pd
import numpy as np
import os
import gensim
import spacy
import en_core_web_lg
nlp = spacy.load('en_core_web_lg')

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
fileDownloaded = drive.CreateFile({'id':'1dnURk-tdodpKuv-3Ic92ELyNoQLs9tLA'})
fileDownloaded.GetContentFile('books_after_preprocessing.csv')

In [ ]:
books = pd.read_csv('books_after_preprocessing.csv')

In [ ]:
books.head(3)

,index,Title,review/score_Avg,review/score_Count,authors,publishedDate,description_categories
0,74190,and poetry is born russian classical poetry,4.0,1.0,['Aleksandr Sergeevich Pushkin'],1984.0,russian poetry selection russian poem russian ...
1,80644,and still king,4.0,1.0,['Keith Checkley'],2012.0,business economics nothing provides clearer pi...
2,31352,dancers in mourning,4.5,8.0,['Margery Allingham'],2015.0,fiction murder take center stage songanddance ...

# Taking a subset of the data by selecting the books which received more than 10 reviews

I am taking a subset of the book data to preform Sentence Embeddings and Cosine Similarity. The full dataset would be too large to process.

In [ ]:
books_sm_10 = books[books['review/score_Count'] > 10]
books_sm_10.head(3)

,index,Title,review/score_Avg,review/score_Count,authors,publishedDate,description_categories
30,95768,1 is one,4.866667,30.0,['Tasha Tudor'],2015.0,juvenile nonfiction rhyming verse present numb...
34,76202,1 ragged ridge road,4.277778,18.0,"['Leonard Foglia', 'David Richards']",1998.0,fiction estranged husband carol robbins young ...
36,110134,10 button book,3.142857,28.0,['William Accorsi'],1999.0,juvenile nonfiction verse introduce number one...

In [ ]:
books_sm_10 = books_sm_10.reset_index(drop=True)
books_sm_10 = books_sm_10.drop(columns='index')
books_sm_10.head(3)

,Title,review/score_Avg,review/score_Count,authors,publishedDate,description_categories
0,1 is one,4.866667,30.0,['Tasha Tudor'],2015.0,juvenile nonfiction rhyming verse present numb...
1,1 ragged ridge road,4.277778,18.0,"['Leonard Foglia', 'David Richards']",1998.0,fiction estranged husband carol robbins young ...
2,10 button book,3.142857,28.0,['William Accorsi'],1999.0,juvenile nonfiction verse introduce number one...

In [ ]:
books_sm_10.shape

(29560, 6)

# Creating vectors from the description_categories column

In [ ]:
# Source: https://www.youtube.com/watch?v=Il04RjS-9-8&t=262s

# Creating a column for vectors
books_sm_10['vectors'] = ''

In [ ]:
# Create vectors from the description_categories column
# This took about 7 minutes to run with GPU and Hi RAM.

for i in range(len(books_sm_10['description_categories'])):
    books_sm_10['vectors'][i] = nlp(books_sm_10['description_categories'][i])

<ipython-input-12-694ec382e2c4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_sm_10['vectors'][i] = nlp(books_sm_10['description_categories'][i])

In [ ]:
books_sm_10['vectors'].head()

0    (juvenile, nonfiction, rhyming, verse, present...
1    (fiction, estranged, husband, carol, robbins, ...
2    (juvenile, nonfiction, verse, introduce, numbe...
3    (family, relationship, repeat, everything, eve...
4    (reference, jumpstart, reading, skill, speed, ...
Name: vectors, dtype: object

# Computing similarity scores between the book in the 0 index place and all the books

In [ ]:
# Similarity between books in the 0 and 1 index place

books_sm_10['vectors'][0].similarity(books_sm_10['vectors'][1])

0.594082225178606

In [ ]:
# computing similarity scores between the book in the 0 index place and all of the books, including itself
# I expected this cell to take a while to run. However, it run in few seconds. 
# However, please note that we are computing similarity for only one book at a time, not the whole dataset at once as
# in the case of SBERT Sentence Transformers.

sims = []
index = []
for i in range(len(books_sm_10['vectors'])):
  sim = books_sm_10['vectors'][i].similarity(books_sm_10['vectors'][0])
  sims.append(sim)
  index.append(i)

sims_df = pd.DataFrame(sims, index=index, columns =['sims'])

In [ ]:
# The top 5 highest similarity scores. 
# I used index [1:6] to exclude the similarity score of the book to itself, which would be a similarity score of 1.
top5 = sims_df.sort_values(by='sims', ascending=False)
top5 = top5[1:6]
top5 = top5.reset_index()
top5

   index      sims
0  28380  0.890873
1  28730  0.881430
2  22012  0.879250
3   6160  0.879250
4  17511  0.875732

In [ ]:
# Taking the top 5 index values
index = top5['index'].values
index

array([28380, 28730, 22012,  6160, 17511])

In [ ]:
print('Chosen book: ')
print(books_sm_10['Title'][0], '\n')
print('Recommended books: ')
for i in index:
  print(books_sm_10['Title'][i])

Chosen book:
1 is one

Recommended books:
way out in the desert
when we were very young winniethepooh winniethepooh series
the dictionary of the khazars
dictionary of the khazars a lexicon novel in 100000 words english and serbocroatian edition
richard scarrys best mother goose ever

# Creating a Function that searches the top 5 similar books

In [ ]:
def find_similar(Title):

  chosen_index = books_sm_10[books_sm_10['Title'] == Title].index[0]
  #chosen_index

  sims = []
  index = []

  for i in range(len(books_sm_10['vectors'])):
    sim = books_sm_10['vectors'][i].similarity(books_sm_10['vectors'][chosen_index])
    sims.append(sim)
    index.append(i)

  sims_df = pd.DataFrame(sims, index=index, columns =['sims'])
  
  top5 = sims_df.sort_values(by='sims', ascending=False)
  top5 = top5[1:6]
  top5 = top5.reset_index()
  #top5

  index = top5['index'].values

  print('Chosen book: ')
  print('Title: ', books_sm_10['Title'][chosen_index])
  print('Description: ', books_sm_10['description_categories'][chosen_index], '\n')
  print('Recommended books: ')
  for i in index:
    print('Title: ', books_sm_10['Title'][i])
    print('Description: ', books_sm_10['description_categories'][i])

# Example Recommendations with the same books I used to test Model 1 and Model 3

In [ ]:
# Chosen title
chosen_title = '1 is one'
find_similar(chosen_title)

Chosen book:
Title:  1 is one
Description:  juvenile nonfiction rhyming verse present number one twenty illustration animal flower child

Recommended books:
Title:  way out in the desert
Description:  juvenile fiction counting book rhyme present various desert animal child mother horned toad little toadie one mom tarantula little spider ten numeral hidden illustration
Title:  when we were very young winniethepooh winniethepooh series
Description:  juvenile fiction milne beloved collection poetryfeaturing first appearance winniethepooh composed dozen poem author delighted generation child adult alike character winniethepooh christopher robin piglet eeyore young warm whimsical journey childhood includes classic verse halfway teddy bear introduced pooh world zoo king breakfast shoe stocking buckingham palace plus many
Title:  the dictionary of the khazars
Description:  fiction national bestseller dictionary khazars cited new york time book review one best book year written two version male female available vintage international identical save seventeen crucial line dictionary imaginary book knowledge khazars people flourished somewhere beyond transylvania seventh ninth century eschewing conventional narrative plot lexicon novel combine dictionary world three major religion entry leap past future featuring three unruly wise men book printed poison ink suicide mirror chimerical princess sect priest infiltrate one dream romance living dead much
Title:  dictionary of the khazars a lexicon novel in 100000 words english and serbocroatian edition
Description:  fiction national bestseller dictionary khazars cited new york time book review one best book year written two version male female available vintage international identical save seventeen crucial line dictionary imaginary book knowledge khazars people flourished somewhere beyond transylvania seventh ninth century eschewing conventional narrative plot lexicon novel combine dictionary world three major religion entry leap past future featuring three unruly wise men book printed poison ink suicide mirror chimerical princess sect priest infiltrate one dream romance living dead much
Title:  richard scarrys best mother goose ever
Description:  juvenile nonfiction collection popular nurseryrhymes small child completely illustrated colorful nurseryrhyme character

One of the recommendations, **The dictionary of the khazars** is a very different book from the chosen book. It is a 339 page novel for adults about imiaginary people living somewhere in Europe. Unfortunately, this title appears twice in the recommendation with variant titles. The rest of the recommendations are rhyming early childhood picture books like the chosen title. I am not satisfied with this recommendation.

In [ ]:
chosen_title = 'spanish stepbystep'
find_similar(chosen_title)

Chosen book:
Title:  spanish stepbystep
Description:  foreign language study proven grammarbased approach give real mastery spanish language use advanced spanish step step progressive grammarbased approach conquer intermediate advanced spanishlanguage topic stepbystep approach give real confidence tool need achieve high spanish proficiency youll get quick review key grammar basic move advanced topic need true mastery language complete coverage verb tense beyond present past irregular verb sentence structure part speech book give thorough overview advanced grammar topic also introduces hundred new vocabulary word reinforced reading put new term everyday context

Recommended books:
Title:  teach yourself turkish complete course turkish edition
Description:  foreign language study complete turkish comprehensive book audio language course take beginner intermediate level new edition successful course fully revised packed new learning feature give language practice skill communicate confidence map b common european framework reference cefr language learning unit plus grammar word glossary discovery method figure rule pattern make language stick teach key skill reading writing listening speaking learn learn tip skill better language learner culture note learn people place turkey outcomesbased learning focus study clear aim authentic listening activity everyday conversation give flavour real spoken turkish test see track progress
Title:  teach yourself korean complete course korean edition
Description:  foreign language study complete korean comprehensive book audio language course take beginner intermediate level new edition successful course fully revised packed new learning feature give language practice skill communicate confidence map b common european framework reference cefr language learning unit plus grammar index word glossary korean script hangul used throughout real language immersion discovery method figure rule pattern make language stick teach key skill reading writing listening speaking learn learn tip skill better language learner culture note learn people place korea outcomesbased learning focus study clear aim authentic listening activity everyday conversation give flavour real spoken korean test see track progress pack youll get page book two cd audio learning material minute also available get started beginner korean isbn rely teach trusted language learner year
Title:  teach yourself finnish
Description:  foreign language study complete finnish comprehensive book audio language course take beginner intermediate level new edition successful course fully revised packed new learning feature give language practice skill communicate confidence map b common european framework reference cefr language learning unit plus grammar word glossary discovery method figure rule pattern make language stick teach key skill reading writing listening speaking learn learn tip skill better language learner culture note learn people place finland outcomesbased learning focus study clear aim authentic listening activity everyday conversation give flavour real spoken finnish test see track progress pack youll get page book two cd audio learning material minute rely teach trusted language learner year
Title:  cliffsquickreview writing grammar usage and style
Description:  english language cliffsquickreview course guide cover essential toughest class get firm grip core concept key material test newfound knowledge review question whether youre new noun verb preposition brushing grammar cliffsquickreview writing grammar usage style help guide help understand grammar concept also give clear explanation sentence structure well advice write well work way guide youll find noun verb pronoun adjective adverb proposition conjunction interjection sentence construction variety well punctuation word compound word idiom clichés jargon different type writing organizing writing assignment cliffsquickreview writing grammar usage style invaluable reference want improve writing whether high school level college thing youll learn bring writing snuff understanding writing assignment writing thesis statement quoting paraphrasing avoiding plagiarism creating outline paper writing first draft polishing final draft title available popular high school college course cliffsquickreview guide comprehensive resource help get best possible grade
Title:  teach yourself finnish complete course teach yourself language complete courses swedish edition
Description:  foreign language study want communicate easily freely finnish master finnish grammar broaden vocabulary finnish tutor contemporary interactive workbook feature activity across range grammar vocabulary point clear goal concise explanation realworld task studying practicing finnish grammar youll understand language really work able speak finnish clarity ease learn finnish tutor grammar vocabulary workbook cover comprehensive range useful frequent grammar vocabulary finnish follow along unit unit dip dip address weak area progress introduced new vocabulary combine grammar complete extensive exercise practice language authentic reading writing practice achieve solid upper intermediate level finnish grammar course finnish tutor grammar vocabulary workbook used standalone course complement finnish course offer extensive practice review essential grammar point vocabulary skill building personal tutor element point exception give tip really help perfect finnish get finnish workbook offer range clear effective learning feature activity across range grammar vocabulary point unique visuals infographics extra context practice personal tutor hint tip help understand language rule culture point learn learn section offer tip advice good language learner short learning unit contain communication goal guide study grammar explanation extensive exercise vocabulary presentation activity reading writing section consolidate learning workbook map novice high advanced mid level proficiency actfl american council teaching foreign language beginner b upper intermediate level cefr common european framework reference language guideline course available study practice see complete finnish teach isbn rely teach trusted language learner year

All of the recommended books are language learning books. However, I would hope to get at least a few for the Spanish language specifically.
I am not happy with this recommendation either.

In [ ]:
chosen_title = 'to kill a mockingbird'
find_similar(chosen_title)

Chosen book:
Title:  to kill a mockingbird
Description:  fiction voted america bestloved novel pbs great american read harper lee pulitzer prizewinning masterwork honor injustice deep southand heroism one man face blind violent hatred one cherished story time kill mockingbird translated forty language sold forty million copy worldwide served basis enormously popular motion picture voted one best novel twentieth century librarian across country gripping heartwrenching wholly remarkable tale comingofage south poisoned virulent prejudice view world great beauty savage inequity eye young girl fathera crusading local lawyerrisks everything defend black man unjustly accused terrible crime

Recommended books:
Title:  the painted bird
Description:  fiction classic novel boy struggle survival wwii poland national book awardwinning author step sixyearold boy sent antinazi parent remote village poland believe safe thing happen however boy left roam polish countryside blond blueeyed peasant part country swarthy darkeyed boy speaks dialect educated class either jew gypsy vampire devil fear fear german found among must keep moving period year observes every conceivable variation theme horror kirkus review originally published painted bird established jerzy kosinski major literary figure sparse prose vivid imagery story mythic proportion timeless human relevance one best written deep sincerity sensitivity elie wiesel new york time book review remarkable fiction emerged world wat ii nothing stand higher jerzy kosinskis painted bird magnificent work art celebration individual one read forget one read unmoved painted bird enriches literature life jonathan yardley miami herald extraordinary literally staggering one powerful book ever read richard kluger harper magazine one significant writer newsweek
Title:  painted bird
Description:  fiction classic novel boy struggle survival wwii poland national book awardwinning author step sixyearold boy sent antinazi parent remote village poland believe safe thing happen however boy left roam polish countryside blond blueeyed peasant part country swarthy darkeyed boy speaks dialect educated class either jew gypsy vampire devil fear fear german found among must keep moving period year observes every conceivable variation theme horror kirkus review originally published painted bird established jerzy kosinski major literary figure sparse prose vivid imagery story mythic proportion timeless human relevance one best written deep sincerity sensitivity elie wiesel new york time book review remarkable fiction emerged world wat ii nothing stand higher jerzy kosinskis painted bird magnificent work art celebration individual one read forget one read unmoved painted bird enriches literature life jonathan yardley miami herald extraordinary literally staggering one powerful book ever read richard kluger harper magazine one significant writer newsweek
Title:  monkey beach a novel
Description:  fiction young native american woman remembers volatile childhood search lost brother canadian wild extraordinary critically acclaimed debut novel race along canada douglas channel speedboatheading toward place younger brother jimmy presumed drowned last seentwentyyearold lisamarie hill recall younger day volatile precocious native girl growing kitamaat haisla indian reservation located five hundred mile north vancouver lisa came age standing foot firmly planted two different world spiritual realm haisla sobering real world dangerous temptation violence drug despair beloved grandmother mamaoo learned tradition magic adored elvisloving uncle mick native right activist perilous course learned see clearly speak mind never bow tragedy scarred life ultimately led frigid water destroy indomitable spirit even though ghost speak night warn worst may yet come easily one admired debut novel appear many decade eden robinson monkey beach immediately greeted universal acclaimcalled gripping san diego uniontribune wonderful milwaukee journal sentinel glorious globe mail earning nomination numerous literary award receiving ethel wilson fiction prize evocative moving haunting devastatingly funny extraordinary read brilliant literary voice must heard
Title:  dead names  the dark history of the necronomicon
Description:  body mind spirit dark history necronomiconone world feared fascinating bookstold one man saw alland lived tell tale necronomicon one controversial book ever published master gothic suspense hp lovecraft wrote mystical dreaded grimoire known necronomiconan ancient text written arab fall wrong hand could disastrous consequence one thought necronomicon basis world outside lovecrafts fiction simon young man drawn mysterious world occult association several eastern orthodox religion friendship owner occult bookstore brooklyn stumbled upon stolen text friend apartment unaware held hand real necronomiconsomething long thought creation lovecrafts brilliant mind deft pen arduous translation done utmost secrecy since tome fact stolen simon close circle friend unveiled nowinfamous grimoire clamoring public dead name simon tell amazing true story surround necronomicon main player humble beginning pageantryfilled secret world eastern orthodox religion accidental discovery necronomicon son sam murder jfk assassination brilliant william burroughs eventual suspicious death almost everyone involved grimoire book enthralling account book steeped legend lie murder
Title:  lost mans river panther s
Description:  fiction novel killing mister watson published review extraordinary heralded marvel invention virtuoso performance new york time book review novel stand best nation produced literature los angeles time book review peter matthiessen brings u second novel watson trilogy project nearly twenty year writing story epic scope ambition lost man river confronts primal relationship dangerous father desperate son way death shaped life lucius watson obsessed learning truth father e j watson devoted family man inspired farmer man progress vision coldblooded murderer amoral opportunist neighbor driven kill fear envy watson killer neighbor fear obsessed lucius return live among ask question character tale men woman molded harsh element florida evergladesan isolated breed descendant renegade pioneer grit instinct tradition wield obliterating force twentiethcentury progress speck daniel moonshiner alligator poacher turned gunrunner sally brown struggle escape racism shame local family r b collins known chicken crippled drink rage custodian watson secret watson dyer unacknowledged namesake design remote watson homestead hidden wild river henry short black man unwilling member group armed island men awaited e j watson silent twilight storyteller peter matthiessens dazzling artistry could capture beauty strangeness life lawless frontier probing deeply underlying tragedy brutal destruction land name progress racism infects heart new world history

The recommended books are similar to the chosen title, **To kill a mockingbird** in that they have some element of crime and mystery. Not such great recommendations though, in my opinion. One, the painted bird is about Native Americans. However, the others don't have the element of multi ethnicity as you would expect from the chosen title. However, I notice that the description text for To kill a mockingbird is not that great. It mostly talks about how popular the book is than describing the story.

# Accuracy Mesasure: Discounted Cumulative Gains
Relevancy Scoring Key:

Most relevant score => 2

Somewhat relevant score => 1

Least relevant score => 0

Methodology: I manually went through the description of the chosen item and the recommended items to determine relevancy value.

DCG (Discounted Cumulative Gains) = Relevancy Score/(LOG(Recommendation Rank+1))

Formula Source: https://towardsdatascience.com/an-exhaustive-list-of-methods-to-evaluate-recommender-systems-a70c05e121de

The Count Vectorizer Model (DCG = 47.63) seems to outperform and the Gensim/Spacy Model (DCG=41.36).

![image.png]()

Please see the recommendation lists for these books in the above codes.